#contact {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: #195c68;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  color: #fff;
  font-size: 5rem;
  font-weight: 400;
  margin: 3.125rem 0;
}

#contact hr {
  width: 3.125rem;
  color: #fff;
  padding: 1px;
  background-color: #fff;
  border-radius: 0.625rem;
}

#contact .inner {
  display: flex;
  padding-bottom: 3.125rem;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 3.125rem;
}

#contact .inner .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 18.75rem;
  border: 2px solid #000;
  gap: 1.5rem;
  width: 50%;
}

#contact .inner .info p {
  width: 90%;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  color: #fff;
}

#contact .inner .links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 18.75rem;
  width: 50%;
}

#contact .inner .links a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin: 0.9375rem 0;
  color: #fff;
  white-space: nowrap;
  font-size: 2rem;
}

#contact .inner .links a span {
  font-size: 3.125rem;
}

#contact .made {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  color: #fff;
}

@media (max-width: 768px) {
  #contact .inner {
    flex-direction: column;
  }

  #contact .inner .info,
  #contact .inner .links {
    width: 100%;
  }
}
