nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.625rem;
  background-color: #195c68;
  padding: 0 2rem;
}

nav .logo {
  width: 4.375rem;
  height: 4.375rem;
}

nav .main_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 2rem;
}

nav .main_nav li {
  font-size: 1.5rem;
}

nav a {
  color: #fff;
  transition: all 0.5s ease;
}

nav .main_nav li:hover a {
  color: #c1bdba;
  cursor: pointer;
}

.down_button {
  width: 1rem;
  height: 1rem;
  position: relative;
  left: -3px;
  top: 3px;
}

.ant-dropdown {
  border: 1px solid #195c68;
}
.ant-dropdown ul {
  border-radius: 0 !important;
  background-color: red;
  padding: 0 !important;
}

.ant-dropdown ul li a {
  font-size: 1.5rem;
  color: #195c68 !important;
}

.ant-dropdown ul li:hover {
  background-color: #195c68 !important;
  border-radius: 0 !important;
}
.ant-dropdown ul li a:hover {
  cursor: pointer;
  color: #fff !important;
}
