nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.625rem;
  background-color: #195c68;
  padding: 0 2rem;
}

nav .logo {
  width: 4.375rem;
  height: 4.375rem;
}

nav .main_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 2rem;
}

nav .main_nav li {
  font-size: 1.5rem;
}

nav a,
nav p {
  color: #fff;
  transition: all 0.5s ease;
}

nav .main_nav li:hover a {
  color: #c1bdba;
  cursor: pointer;
}
.dropdown .drop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

nav li.dropdown .drop:hover p {
  color: #c1bdba;
}

nav li.dropdown .drop img {
  width: 1rem;
  height: 1rem;
  position: relative;
  left: -3px;
  top: 3px;
}

nav li.dropdown .dropdown-content {
  border: 1px solid #195c68;
  display: none;
  background: #fff;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

nav li.dropdown .dropdown-content a {
  display: block;
  color: #195c68 !important;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.5rem;
}

nav li.dropdown .dropdown-content a:hover {
  background: #195c68;
  color: #fff !important;
}

nav li.dropdown:hover .dropdown-content {
  display: block;
}

nav li.dropdown:hover .dropbtn {
  background: #3e8341;
}
